@import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');

html, body, main, body, #container{
    width: 100%;
    max-width: 100vw;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41)
}

.miniContainer {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, #hero, #trending {
    width: 100%;
    padding: 0% 5%;
    display: flex;
}

header, #hero {
    background-color: rgb(255, 192, 23);
    border-bottom: 1px solid rgb(41, 41, 41);
}

header {
    width: auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#container {
    margin-top: 75px;
}

header nav {
    width: 50%;
}

header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
    margin-right: auto;
    line-height: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.start button{
    background-color: rgb(41, 41, 41);
    color: white;
    border: 0;
    border-radius: 2em;
    padding: 9px 16px;
}

#hero {
    justify-content: space-between;
    overflow: hidden;
}

#hero div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#mmm {
    width: 40%;
    height: 103%;
    margin-right: -6%;
}

h1 {
    font-size: 106px;
    line-height: 95px;
    font-family: 'GT Super Ds Trial', 'Times New Roman', Times, serif;
    font-weight: 500;
}

h1+p {
    font-size: 30px;
}

#hero button{
    font-size: 24px;
    font-weight: 600;
    width: 250px;
    height: 50px;
}

#trending {
    margin: 25px;
    flex-direction: column;
    align-items: center;
}

#trending h2 {
    width: 100%;
}

#trendingArticles {
    display: flex;
    flex-wrap: wrap;
}

.trendingArticle {
    height: 45%;
    width: 30%;
    overflow: hidden;
    display: flex;
    align-content: start;
}

.trendingArticle .num {
    font-size: 30px;
}